
body {
    background-color: black;
}

hr {
    width: 200px;
}

#thinkful {
    font-family: 'Amarante', cursive;
    font-size: 20px;
    text-align: center;
    color: white;
    padding-top: 15px;
}

#title {
    font-family: 'Ceviche One', cursive;
    text-shadow: 5px 20px 15px #B20000;
    font-size: 120px;
    text-align: center;
    color: #FF0000;
}

#name {
    font-family: 'Amarante', cursive;
    font-size: 18px;
    text-align: center;
    color: white;
}

.instructions {
    position: absolute;
    display: block;
    top: 240px;
    left: 800px;
    width: 300px;
}

.instructions p {
    font-family: 'Ceviche One', cursive;
    font-size: 28px;
    color: black;
}

.main {
    background-color: white;
    margin-top: 40px;
    padding-left: 100px;
    min-width: 1200px;
    height: 400px;
}

.ryu {
    float: left;
}

.ryu-ready, .ryu-still, .ryu-throwing, .ryu-cool {
    width: 659px;
    height: 494px;
}

.ryu-ready, .ryu-throwing, .ryu-cool {
    display: none;
}

.ryu-ready {
    background-image: url('../images/ryu-ready-position.gif');
}

.ryu-still {
    background-image: url('../images/ryu-standing-still.png');
}

.ryu-throwing {
    background-image: url('../images/ryu-throwing-hadouken.png');
}

.ryu-cool {
    background-image: url('../images/ryu-cool.gif');
}
        
.hadouken, .ryu-ready, .ryu-throwing, .ryu-still, .ryu-cool {
    background-repeat: no-repeat;
}

.hadouken {
    background-image: url(../images/hadouken.gif);
    width: 156px;
    height: 90px;
    display: none;
    position: relative;
    top: 170px;
    left: -212px;
    float: left;
}
